* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#07023c,#4a37df);
    height: 100vh;
    font-family: Lbc;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

header {
    position: fixed;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover, .active {
    background: #fff;
    color: #4F4696;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}

.main::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#0c0347, transparent);
    z-index: 5;

} 

#moon {
    mix-blend-mode: screen;
    transform: translateY(80PX);
    z-index: 2;
}

#stars {
    mix-blend-mode: screen;
    transform: translateY(-80px);
    z-index: 1;    
}

#mountains {
    mix-blend-mode: screen;
    transform: translateY(-20PX);
    z-index: 3;
}

#earth {
    z-index: 4;
}

.printizayn {
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    transform: translatey();
}

.content {
    color: #fff;
    font-family: lbc;
    padding: 30px;
}

.content h2 {
    margin: 20px;
    font-size: 30px;
}

.content p {
    margin: 20px;
}